.main {
    position: relative;
    z-index: 9000;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Montserrat', sans-seri f;
    text-align: center;
    padding-top: 5em;
}

  .mainp {
  z-index: 9000;
  color: inherit;
  text-shadow: 1px 1px black;
  font-family: 'Lato', sans-seri;
  text-align: center;
  }

.block {
  z-index: 9001;
  padding: 10px;
  width: auto;
  height: 50em;
  background-color: black;
  border: 5px solid black;
  margin: 0;
}

.block2 {
  z-index: 9001;
  padding: 10px;
  background-image: url('grad.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border: 5px solid black;
  margin: 0;
}

.block3 {
  z-index: 9001;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.432);
  background-size: cover;
  border: 5px solid black;
  
}

.first-text-h1 {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: left;
  text-shadow: 15px;
}

.first-text-h2 {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: left;
  font-size: 21px;
  text-shadow: 15px;
}

.first-text-p {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: center;
  text-shadow: 15px;
}

.first-item-left {
  color:bisque;
}
.first-item-middle {
  color:coral;

}
.first-item-right {
  color:cornsilk;
}

/* projects page */

.discord-bots-projects {
  color: cyan;
  text-align: right;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px black;
}

.garrys-mod-projects {
  font-family: 'Russo One', sans-serif; 
  font-size: 18px;
  color: cyan;
  text-shadow: 2px 2px black;
}
.mtsi-it-support {
  color: cyan;
  font-size: 18px;
  font-family: 'Russo One', sans-serif; 
  text-align: right;
  text-shadow: 2px 2px black;
}

.pen-testing {
  color: cyan;
  font-size: 18px;
  font-family: 'Russo One', sans-serif; 
  text-align: left;
  text-shadow: 2px 2px black;
}

.pos {
  position: absolute;
  margin-left: 40%;
  margin-right: 10%;
  font-size: 24pt;
  text-align: left;
  text-shadow: 2px 2px black;
}

  #hello {
    color:blue;
    font-family: 'Russo One', sans-serif; 
  }

  #world {
    color:white;
    font-family: 'Russo One', sans-serif;
  }

  #iam{ 
  color: blue;
  font-family: 'Russo One', sans-serif; 
  }

  #iamname {
    color: white;
    font-family: 'Russo One', sans-serif;
  }


/* top navigation bar */

#navi {
    list-style-type: none;
   /* border: 1px solid rgba(255, 255, 255, 0.623); */
    margin: 15px;
    margin-left: 0px;
    margin-right: 40px;
    padding: 5px;
    overflow: hidden;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 1px black;
    /* background-color: black; */
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    font-size: 15pt;
    color: blue;
    text-shadow: 2px 2px black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: lightsteelblue;
  }
