.main {
    position: relative;
    z-index: 9000;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Montserrat', sans-seri f;
    text-align: center;
    padding-top: 5em;
}

  .mainp {
  z-index: 9000;
  color: inherit;
  text-shadow: 1px 1px black;
  font-family: 'Lato', sans-seri;
  text-align: center;
  }

.block {
  z-index: 9001;
  padding: 10px;
  width: auto;
  height: 50em;
  background-color: black;
  border: 5px solid black;;
  margin: 0;
}

.block2 {
  z-index: 9001;
  padding: 10px;
  background-image: url('grad.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border: 5px solid black;;
  margin: 0;
}

.block3 {
  z-index: 9001;
  padding: 10px;
  padding-bottom: 100px;
  background-image: url('grad.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border: 5px solid black;;
  
}

.first-text-h1 {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: left;
  text-shadow: 15px;
}

.first-text-h2 {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: left;
  text-shadow: 15px;
}

.first-text-p {
  color: white;
  text-shadow: 1px 1px black;
  font-family: 'Montserrat', sans-seri f;
  text-align: center;
  text-shadow: 15px;
}

.first-item-left {
  color:bisque;
}
.first-item-middle {
  color:coral;

}
.first-item-right {
  color:cornsilk;
}

/* projects page */

.discord-bots-projects {
  color: white;
  text-align: right;
}

.garrys-mod-projects {
  color: white;
}
.mtsi-it-support {
  color: white;
  text-align: right;
}

#pos {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-top: 1em;
  font-size: 20pt;
  font-family: 'Russo One', sans-serif; 
}

  .hello {
    color:blue;
    float: left;
    font-family: 'Russo One', sans-serif; 
  }

  .world {
    color:white;
    float:left; 
    padding-left: 0.2em;
    font-family: 'Russo One', sans-serif; 
  }

  .iamname{
  color: red;
  position: relative;
  padding-top: 5em;
  font-family: 'Russo One', sans-serif; 
  }

  .russian {
    color: gray
  }

  .majorandminor {
    color:teal
  }

/* top navigation bar */

.navi {
    list-style-type: none;
    border: 5px solid black;
    margin: 15px;
    margin-left: 0px;
    margin-right: 40px;
    padding: 5px;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    background: url('grad.jpeg');
    background-repeat: no-repeat;
    
    background-size: cover;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
  }
